<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    
      nav ul li {
        float: left;
      }
    
      nav ul li a {
        display: block;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
      }
      
      #downloads {
        display: flex;
        align-items: center;
      }
      
      img {
        width: 50px;
        height: 50px;
      }
    </style>
    {% include head-custom.html %}
    {% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <img src="https://img2.freepng.es/20180402/zpe/kisspng-rick-sanchez-morty-smith-drawing-television-show-rick-and-morty-5ac21f4e6ad6e1.0925391315226714384376.jpg" alt="Tu imagen">
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/writings">Writings</a></li>
          </ul>
        </nav>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn btn-github"><span class="icon"></span>Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn btn-github"><span class="icon"></span>Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github }}" class="btn btn-github"><span class="icon"></span>Go to GitHub</a>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
