
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
    <style>
      /* Tu CSS existente ... */
      #fractalCanvas {
        position: absolute;
        top: 0;
        z-index: -1;
      }
    </style>
        {% include head-custom.html %}
        {% seo %}
  </head>
  <body>
    <canvas id="fractalCanvas"></canvas>
    <header>
      <div class="container">
        <!--<a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a> -->
        <img style="height:50px" src="https://img2.freepng.es/20180402/zpe/kisspng-rick-sanchez-morty-smith-drawing-television-show-rick-and-morty-5ac21f4e6ad6e1.0925391315226714384376.jpg" alt="Tu imagen" style="float:left; margin-right:10px;">

        <!--<h1 style="color: #b5e853;">{{ site.description | default: site.github.project_tagline }}</h1> -->
        <h1 style="color: #b5e853;">Jar Var Bin's</h1>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="/" class="btn" style="background-color: #98d5f1;" style=" font-family: cursive;">Home</a>
          <a href="/writings" class="btn" style="background-color: #b5e83b;" style=" font-family: cursive;">Writings</a>
          <a href="{{ site.github }}" class="btn btn-github"style="background-color: #e76f98;" style=" font-family: cursive;"><span class="icon"></span>Go to GitHub</a>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <script>
      let angle = 0;
      function setup() {
        let canvas = createCanvas(windowWidth, 150);
        canvas.parent('fractalCanvas');
      }

      function draw() {
        background(0);
        translate(width / 2, height / 2);
        stroke(255);
        branch(100);
        angle += 0.01;
      }

      function branch(len) {
        line(0, 0, 0, -len);
        translate(0, -len);
        if (len > 4) {
          push();
          rotate(angle);
          branch(len * 0.67);
          pop();
          push();
          rotate(-angle);
          branch(len * 0.67);
          pop();
        }
      }
    </script>
  </body>
</html>
